
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>

@model IEnumerable<ContosoUniversity.Models.SchoolViewModels.EnrollmentDateGroup>

@{
    ViewData["Title"] = "Student Body Statistics";
}

<div>
    <h2>Dean of Student Life</h2>
    <h5>Bekah Howe</h5>
    <p>Phone: 520-543-8763</p>
    <p>Email: howe.bek@nunya.edu</p>
    <p>Address: 2395 E Golf Links Duckburg, MT 85710</p>

</div>


<h2>Student Body Statistics</h2>

<table>
    <tr>
        <th>
            Enrollment Date
        </th>
        <th>
            Students
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td>
                @item.StudentCount
            </td>
        </tr>
    }
</table>
