@{
    ViewData["Title"] = "Home Page";
}


<h1 id="mainH1">Welcome to Nunya University</h1>

<div id="aboutSect">

    <p>
        Founded in 1934, Nunya University is a private university located in Duckburg, Montana, with more than 8,000 students. The undergraduate population of more than 5,100 hails from 49 states and more than 50 foreign countries.
    </p>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Mallards</h2>

        <ul>
            <li>NCAA Division 1 (Football Bowl Subdivision)</li>
            <li>Big Sky Conference</li>
            <li>Won 8 NCAA Championships</li>
        </ul>
    </div>
    <div class="col-md-6">
        <h2>Academics</h2>

        <ul>
            <li>42 Undergradute Majors offered</li>
            <li>65 Minors offered</li>
            <li>5 Colleges and Schools</li>
            <li>99% of all undergraduate classes with fewer than 50 students.</li>
        </ul>

    </div>
</div>

    <img src="~/images/OPfakeuniversity.jpg" alt="University library" />

